<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Activation Service">
  <test name="Test on Activate or Deactivate Items based on DisaCode or INCOMM code">
    <classes>
      <class name="com.APITesting.TestCases.ActivateOrDeActivateItemsThroughINCOMM"/>
    </classes>
  </test>
</suite>